<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="input-group" style="width: 10cm;margin-top: 8cm;margin-left: 15cm">
        <div class="input-group-prepend">
          <span><button type="submit" class="btn btn-primary" id="inputGroupFileAddon01">Upload</button></span>
        </div>
        <div class="custom-file">
          <input type="file" formControlName="selectedFile" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="onFileSelect($event)">
          <label class="custom-file-label" for="inputGroupFile01">{{fileLabel}}</label>
        </div>
    </div>
</form>
